In [2]:
import pandas as pd
import mysql.connector

In [4]:
mydb=mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="*******",
        database = "db_consumer_panel"
        )

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [3]:
## Table Households
mycursor = mydb.cursor()
sql = "INSERT INTO Households(hh_id,hh_race,hh_is_latinx,hh_zip_code,hh_state,hh_income,hh_size,hh_residence_type) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"

n = 0
for df_chunk in pd.read_csv("~/Downloads/dta_at_hh.csv", chunksize = 10000):
    del df_chunk['Unnamed: 0']
    n1 = df_chunk.shape[0]
    n = n+n1
    
    tuple_value = list(df_chunk.itertuples(index=False, name = None))
    for i in tuple_value:
        val = i
        mycursor.execute(sql, val)
    print(n)

mydb.commit()
mycursor.close()

10000
20000
30000
39577

True

In [3]:
## Table Products
mycursor = mydb.cursor()
sql = "INSERT INTO Products(brand_at_prod_id,department_at_prod_id,prod_id,group_at_prod_id,module_at_prod_id,amount_at_prod_id,units_at_prod_id) VALUES (%s,%s,%s,%s,%s,%s,%s)"

n = 0
for df_chunk in pd.read_csv("~/Downloads/dta_at_prod_id.csv", chunksize = 100000):
    del df_chunk['Unnamed: 0']
    n1 = df_chunk.shape[0]
    n = n+n1
        
    df_chunk = df_chunk.where((pd.notnull(df_chunk)), None)
    tuple_value = list(df_chunk.itertuples(index=False, name = None))
    for i in tuple_value:
        val = i
        #try:
        mycursor.execute(sql, val)
        #except:
            #pass
    print(n)

mydb.commit()
mycursor.close()

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4231283

True

In [9]:
## Table Trips
mycursor = mydb.cursor()
sql = "INSERT INTO Trips(hh_id,TC_date,TC_retailer_code,TC_retailer_code_store_code,TC_retailer_code_store_zip3,TC_total_spent,TC_id) VALUES (%s,%s,%s,%s,%s,%s,%s)  " 



n = 0
for df_chunk in pd.read_csv("~/Downloads/dta_at_TC.csv", chunksize = 100000):
    del df_chunk['Unnamed: 0']
    n1 = df_chunk.shape[0]
    n = n+n1
    
    df_chunk = df_chunk.where((pd.notnull(df_chunk)), None)
    tuple_value = list(df_chunk.itertuples(index=False, name = None))
    for i in tuple_value:
        val = i
        
        #try:
        mycursor.execute(sql, val)
        #except:
          #  pass
    print(n)

mydb.commit()
mycursor.close()

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7596145

True

In [4]:
## Table Purchases
mycursor = mydb.cursor()
sql = "INSERT INTO Purchases(TC_id,quantity_at_TC_prod_id,total_price_paid_at_TC_prod_id,coupon_value_at_TC_prod_id,deal_flag_at_TC_prod_id,prod_id) VALUES (%s,%s,%s,%s,%s,%s)"

n = 0
for df_chunk in pd.read_csv("~/Downloads/dta_at_TC_upc.csv", chunksize = 100000):
    del df_chunk['Unnamed: 0']
    n1 = df_chunk.shape[0]
    n = n+n1
    
    df_chunk = df_chunk.where((pd.notnull(df_chunk)), None)
    tuple_value = list(df_chunk.itertuples(index=False, name = None))
    for i in tuple_value:
        val = i
        #try:
        mycursor.execute(sql, val)
        #except:
            #pass
    print(n)

mydb.commit()
mycursor.close()

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000
16900000
17000000
17100000
17200000
17300000
17400000
17500000
17600000
17700000
17800000
17900000
18000000
18100000
18200000
18300000
18400000
18500000
18600000
18700000
18800000
18900000
19000000
19100000
19200000
19300000
19400000
19500000
19600000
19700000
19800000
19900000
20000000
20100000
20200000
20300000
20400000
20500000
20600000
20700000
20800000
20900000
21000000
21100000
21200000
21300000
21400000
21500000
21600000
21700000
21800000
21900000
22000000
22100000
22200000
22300000
22400000
22500000
22600000
22700000
22800000
22900000
23000000
23100000
23200000
23300000
23400000
23500000
23600000
23700000
23800000
23900000
24000000
24100000
24200000
24300000
24400000
24500000
24600000
24700000
24800000
24900000
25000000
25100000
25200000
25300000
25400000
25500000
25600000
25700000
25800000
25900000
26000000
26100000
26200000
26300000
26400000
26500000
26600000
26700000
26800000
26900000
27000000
27100000
27200000
27300000
27400000
27500000
27600000
27700000
27800000
27900000
28000000
28100000
28200000
28300000
28400000
28500000
28600000
28700000
28800000
28900000
29000000
29100000
29200000
29300000
29400000
29500000
29600000
29700000
29800000
29900000
30000000
30100000
30200000
30300000
30400000
30500000
30600000
30700000
30800000
30900000
31000000
31100000
31200000
31300000
31400000
31500000
31600000
31700000
31800000
31900000
32000000
32100000
32200000
32300000
32400000
32500000
32600000
32700000
32800000
32900000
33000000
33100000
33200000
33300000
33400000
33500000
33600000
33700000
33800000
33900000
34000000
34100000
34200000
34300000
34400000
34500000
34600000
34700000
34800000
34900000
35000000
35100000
35200000
35300000
35400000
35500000
35600000
35700000
35800000
35900000
36000000
36100000
36200000
36300000
36400000
36500000
36600000
36700000
36800000
36900000
37000000
37100000
37200000
37300000
37400000
37500000
37600000
37700000
37800000
37900000
38000000
38100000
38200000
38300000
38400000
38500000
38587942

True

In [6]:
mycursor.close()

False

In [1]:
#pip install joypy
import joypy
# Import Data
mpg = pd.read_csv("~/Desktop/c_3_32.csv")

NameError: name 'pd' is not defined

In [ ]:
# Draw Plot
plt.figure(figsize=(16,10), dpi= 80)
fig, axes = joypy.joyplot(mpg, column=['hwy', 'cty'], by="class", ylim='own', figsize=(14,10))

# Decoration
plt.title('Joy Plot of City and Highway Mileage by Class', fontsize=22)
plt.show()